body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

main h1 {
  color: #80bd01;
}

a {
  color: #80bd01;
  font-weight: bold;
  transition: all 200ms ease-out;
}

a:hover {
  color: #4d7000;
  font-weight: bold;
}

.top-links {
  text-align: right;
}

.top-links ul {
  margin: 2rem 0;
}

.top-links li {
  list-style: none;
  display: inline-block;
}

.sidebar {
  margin: 2rem;
}

.main-content {
  margin: 2rem;
}

.logo {
  font-size: 22px;
  margin: 2rem 0;
}

.logo a {
  color: #888;
}

.logo a:hover {
  color: #80bd01;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  color: #888;
  font-weight: normal;
  position: relative;
  transition: opacity 0.5s ease-out, padding 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.sidebar a.current {
  color: #80bd01;
  opacity: 1 !important;
}

.sidebar .completed a {
  opacity: 0.5;
  padding-left: 20px;
  transition: opacity 0.5s ease-out;
}

.sidebar a:before {
  content: "✔️";
  color: #80bd01;
  left: 0;
  position: absolute;
  transform: scale(0) translateX(-40px);
  transition: transform 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.sidebar .completed a:before {
  transform: scale(1);
}

.sidebar a:hover {
  color: #80bd01;
  opacity: 1;
}

.completed-button.completed {
  background-color: #fff;
  border-color: #80bd01;
  color: #333;
}
