---
title: OpenJS NodeJS Application Developer Study Guide
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | url }}">
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <header class="container">
        <div class="row">
          <div class="column column-50">
            <h1 class="logo"><a href="/">ONAD Study Guide</a></h1>
          </div>
          <div class="top-links column column-50">
            <ul>
              <li><a href="https://training.linuxfoundation.org/certification/jsnad/" target="_blank" title="OpenJS Node.js Application Developer (JSNAD)">JSNAD Certification</a></li>
            </ul>
          </div>
        </div>
    </header>
    <main class="container">
      <div class="row">
        <div class="sidebar column">
          <nav>
            <ul>
              <li><a href="#" {% if page.url === '/buffer/' %} class="current" {% endif %}>Buffer and Streams</a></li>
              <li><a href="#">Control flow</a></li>
              <li><a href="#">Child Processes</a></li>
              <li><a href="#">Diagnostics</li>
              <li><a href="#">Error Handling</a></li>
              <li><a href="#">Node.js CLI</a></li>
              <li><a href="{{ "/events" | url }}" {% if page.url === '/events/' %} class="current" {% endif %}>Events</li>
              <li><a href="#">File System</a></li>
              <li><a href="#">JavaScript Prerequisites</a></li>
              <li><a href="#">Module system</a></li>
              <li><a href="#">Process/Operating System</a></li>
              <li><a href="#">Package.json</a></li>
              <li><a href="#">Unit Testing</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-content column column-75">
          <h1>{{ title }}</h1>

          {{ content | safe }}
        </div>
      </div>
    </main>
    <footer class="container">
      <div class="row">
        <div class="column column-75 column-offset-25">
          <p>&copy; NearForm Ltd.<p>
          <p><a href="https://github.com/jjmax75/openjs-nodejs-application-developer-study-guide/tree/master/{{ page.inputPath }}">Edit this page on GitHub</a></p>
        </div>
      </div>
      
      </footer>
  </body>
</html>